body{
    border: 0px;
}


h1{
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

table{
    border: 0px;
}

.input-formulario{
    background: #FFFFFF;
    border: 10px ;
    width: 363px;
    padding: 15px;
    margin-bottom: 10px
}

.Pachaqtec{
    height: 525px;
    width: 960px;
    background:url('../Imagenes/MaskGroup.png');
    background-repeat: no-repeat;
}

.acerca{
background: #7299FE;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #F8F8F8;
padding: 50px;
}


.skills{
    background: #9122FF;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #F8F8F8;
    padding: 50px;
    height: 318px;
}

.portafolio{
    background: #FFD233;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #F8F8F8;
    padding: 50px;
    height: 318px;

}

.clientes{
    background: #3F4E62;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #F8F8F8;
    padding: 50px;
    height: 180px;
}

.contacto{
    background: #1687A0;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #F8F8F8;
    padding: 50px;
    height: 318px;
}


.p{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    
    color: #FFFFFF;
}

.btn{
        width: 167px;
        height: 56px;
        color: #fff;
        background-color: #233451;
        border-radius: 5px;
        
    
}

.btn_cv{
    background: #D16FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 187px;
    height: 62px;
    color: #FFFFFF;
}

.img_sobre {
    position:absolute;

}

.cli_img {
 display: inline-block!important;
}

#lista1 li {
    display:inline;
    padding-left:3px;
    padding-right:3px;
    text-align: center;
}




.skill {
    list-style-type: none;
  }
  
  .progress {
    position: relative;
    width: 400px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress .mark {
    position: absolute;
    left:-60%;
    top: 0;
    background: #57EFF9;
    display: block;  
    width: 100%;
    height:20px;
  }
  
  .progress:hover .mark {
    animation: progress 2s linear infinite;
  }
  
   @keyframes progress {
    from { 
      left: -60%;
    }
    to { 
      left: 0%;
    }
   }
  
  
   .link:hover {
    transform: scale(1.2);
  }

  .text {
    text-shadow: 2px 4px cadetblue, -2px -4px blue;
    text-align: center;
  }